<section class="favorite">
    <section class="container">
        <section class="favorite-title">Избранное</section>

        <section class="favorite-empty" *ngIf="!favorites || (favorites && favorites.length === 0)">
            <section class="">Ваш список избранных пуст</section>
            <button class="button" routerLink="/catalog">Перейти в каталог</button>
        </section>

        <section class="favorite-products" *ngIf="favorites && favorites.length > 0">
            <favorite-item *ngFor="let product of favorites" [countInCart]="product.countInCart" [product]="product"
                (removeFavoriteEvent)="removeFavorite($event)"></favorite-item>
        </section>
    </section>
</section>