*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  padding: 17px 20px;
  border: 2px solid #2a592e;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $gray-text-color;
  outline: none;

  &::placeholder {
    color: #a8aba7;
  }
}

.small-input {
  padding: 2px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #6cac72;
  width: 40px;
  height: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $green-text-color;
}

.button {
  text-align: center;
  padding: 15px;
  background-color: #456f49;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  border: 0;

  &.button-transparent {
    background-color: transparent;
    color: $green-text-color;
    border: 1px solid #6cac72;
  }

  &.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  &.button-in-cart span {
    &:first-child {
      display: block;
    }

    &:last-child {
      display: none;
    }
  }

  &:hover {
    &.button-in-cart span {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: block;
      }
    }
  }

  &:disabled {
    background-color: #a8aba7;
    cursor: not-allowed;
  }
}

a.button {
  display: inline-block;
}

.mat-menu-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  a {
    text-decoration: none;
    color: $gray-text-color;
  }
}

.carousel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  .carousel-title {
    @include head-lora-32;
  }

  .carousel-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: $gray-text-color;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #2a592e;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #2a592e;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.mat-dialog-container {
  padding: 0 !important;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #648f64;
}
