*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  padding: 17px 20px;
  border: 2px solid #2a592e;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $gray-text-color;
  outline: none;

  &::placeholder {
    color: #a8aba7;
  }
}

.small-input {
  padding: 2px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #6cac72;
  width: 40px;
  height: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $green-text-color;
}

.button {
  text-align: center;
  padding: 15px;
  background-color: #456f49;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  border: 0;

  &:disabled {
    background-color: #a8aba7;
    cursor: not-allowed;
  }
}

a.button {
  display: inline-block;
}

.mat-menu-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  a {
    text-decoration: none;
    color: $gray-text-color;
  }
}
